.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: rgb(18, 18, 18);
  z-index: 1;

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 30px;
    max-width: 1620px;
    width: 100%;

    .nav__list {
      display: flex;
      justify-content: space-between;
      flex-grow: 0.2;

      @media (max-width: 768px) {
        flex-grow: 1;
      }

      .nav__list_item {
        font-size: 25px;
        color: rgb(128, 128, 128);

        @media (max-width: 520px) {
          font-size: 18px;
        }

        .nav__list_item-link {
          cursor: pointer;

          &.active {
            position: relative;
            font-weight: 700;
            transition: all 0.5s ease;

            &::before {
              content: '';
              position: absolute;
              bottom: -15px;
              left: 50%;
              transform: translateX(-50%);
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background-color: rgb(255, 138, 0);
            }

            @media (max-width: 520px) {
              &::before {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
  }
}
