* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  background-color: blanchedalmond;
}

li {
  list-style-type: none;
}
