* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  background-color: rgb(18, 18, 18);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}